<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.IAddressDao">
    <select id="queryAllByUid" resultType="address">
        SELECT * FROM address where uid=#{uid}
    </select>

    <insert id="addAddress" statementType="CALLABLE">
      {call addaddress(#{person},#{address},#{phone},#{code},#{uid},#{isdefault})}
    </insert>
    <select id="queryByid" resultType="address">
          SELECT * FROM address where id=#{id}
    </select>
</mapper>